/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILO BASE VISIBLE */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  padding: 40px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}
